[submodule "pcl_localization_ros2"]
	path = pcl_localization_ros2
	url = https://github.com/adawarp/pcl_localization_ros2.git
[submodule "kiss-icp"]
	path = kiss-icp
	url = https://github.com/PRBonn/kiss-icp.git
